
<%= render 'sessionUserPanel/userPanel' %>


<article class="followingPanel">
  <h1>Following</h1>
  <hr width="90%">
  <% @followings.each do |following| %>
      <article>
        <div>
          <h4><%= User.find(following.user_being_followed_id).full_name %></h4>
          <%= image_tag User.find(following.user_being_followed_id).image_url %>

          <p><%= link_to "Unfollow", user_following_path(user_id: User.find(following.user_being_followed_id).id, id: current_user.id), method: :delete %></p>
        </div>
      </article>
  <% end %>
</article>