<%= render 'sessionUserPanel/userPanel' %>

<article class="dashboardPanel">
  <h1>Favorites</h1>
  <hr width="90%">
  <%= render partial: 'rant_list', locals: {title: "My Rants", favorites_list: @favorites} %>
</article>