.rantPanel {
  width: 1120px;
  display: inline-block;
  background-color: whitesmoke;
  margin-left: 2.2%;
  h1 {
    text-align: center;
  }
  .bottom {
    width: 100%;
    height: 12%;
    font-size: 20px;
    div {
      float: right;
      margin-top: -30px;
      margin-right: 20px;
      margin-bottom: 15px;

      a {
//        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
//  .rant {
//    width: 100%;
//    height: 250px;
//    img{
//      width: 200px;
//    }
//    .ranter {
//      width: 20%;
//      height: 86.5%;
//      display: inline-block;
//      text-align: center;
//
////      div {
////        float: left;
////        width: 100%;
////      }
////      .image {
////        height: 70%;
////        margin: -10px 0 20px 0;
////        img {
////          width: 70%;
////          height: 100%;
////        }
////      }
//
//    }
    .rantBody {
//      width: 90%;
//      height: 86.5%;
      display: inline-block;
      position: relative;
      text-align: left;
      margin-left: 40px;
      width: 100%;
      h3{
        text-align: left;
        font-size: 30px;
        display: inline;
      }
      .image{
        display: inline;
        float: left;
        text-align: center;
        margin-right: 40px;
        img{
          display: block;
          width: 200px;
        }
      }
      .body{
        font-size: 20px;
        width: 95%;
      }
      .name {
        float: left;
        text-align: left;
        margin-top: -15px;
      }
      div {
        float: left;
        width: 100%;
        text-align: center;
        p {
          text-decoration: none;
          position: relative;
          margin: 0 0 0 0;
          text-align: left;
          font-size: 25px;
          a{
            text-decoration: none;
          }
        }
      }
//    }

  }
  .comments {
    div{
      float: left;
      width: 100%;
    }
    .enterComment{
      padding: 0 3% 0 3.5%;
      input{
        width: 100%;
      }
    }
    .submitButton{
      padding: 1% 3% 0 3.5%;
      input{
        float: right;
        background-color: greenyellow;
        margin-bottom: 5px;
      }
    }
    .commenter{
      display: inline-block;
      padding: 0 3% 0 3.5%;
      img{
        width: 100px;
      }
    }
    .comment{
      display: inline-block;
      width: 82%;
      p{
        margin-bottom: 90px;
        width: 100%;
      }
    }
  }
}