//= require normalize-rails
//= require_self
@import "colors";
@import "util";
@import "nav";
@import "pages/homepage.scss";

body {
  background-color: #666;
}

nav {
  width: 100%;
  height: 80px;
  display: inline-block;
}

.navBar {
  display: inline-block;
  position: relative;
  height: 100%;
  vertical-align: center;

  .title {
    float: left;
    border-right: solid darkgreen 1px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .userOptions {
    float: left;
    margin-left: 150px;
    margin-top: 30px;
  }
  .loginLogout {
    float: right;
    margin-top: 30px;
  }
  .joinButton {
    background-color: green;
    border: solid gray 1px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 140%;
    -webkit-border-radius: 6px;
    margin-top: -10px;
    margin-right: 60px;
  }
  .loginLink {
    color: white;
    font-size: 140%;
    margin-right: 30px;
  }
}
.userForm {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  width: 480px;
  padding-bottom: 5%;
  ul {
    padding-left: 0;
  }
  .userInfoTitle {
    display: block;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-top: 3%;
  }
  label {
    display: block;
    color: black;
  }
  li {
    display: inline-block;
    float: left;
    padding: 3%;
    padding-top: 0;
  }
  .half {
    width: 44%;
  }
  .full {
    width: 94%;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .userInfoBio {
    position: relative;
    display: inline-block;
    width: 94%;
    textarea {
      height: 150px;
      width: 98%;
    }
  }
  .submitButton {
    position: relative;
    display: inline-block;
    width: 94%;
    input {
      color: whitesmoke;
      background-color: green;
      height: 50px;
    }
  }
  .userInfoRadio {
    width: 100%;
    .radio {
      position: relative;
      display: inline-block;
      float: left;
      margin-left: 8%;
      width: 21%;
      input {
        width: 20px;
      }
      label {
        display: inline-block;
      }
    }
  }
}
.homePageHead {
  background-color: whitesmoke;
  text-align: center;
  padding: 1%;
  h1 {
    font-size: 80px;
  }
}
.flashSuccess {
  text-align: center;
  background-color: green;
  color: whitesmoke;
  padding: 3%;
  font-size: 20px;

}
article {
  position: relative;
  display: block;
  float: left;
  margin-left: 20px;
}


.profilePanel {
  width: 340px;
  height: 670px;
  .profilePicture {
    text-align: center;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .profileName{
    color: lightgrey;
    text-align: center;

  }
  .rantForm {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    width: 300px;
    color: lightgray;
    label{
      text-align: left;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
    }
    li{
      margin-top: 20px;
    }
    input {
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    .full {
      input {
        width: 100%
      }
    }
    .userInfoBio {
      display: inline-block;
      width: 100%;
      textarea {
        height: 250px;
        width: 98%;
      }
    }
    .submitButton {
      position: relative;
      display: inline-block;
      width: 100%;
      input {
        color: whitesmoke;
        background-color: green;
        height: 50px;
      }
    }
  }
}

.rantPanel {
  width: 1310px;
  height: 70px;
  background-color: deepskyblue;

}

blockquote {
  height: 100px;
  img {
    float: left;
    height: 100%;
    width: 100px;
    margin-right: 20px;
  }
}
