//= require normalize-rails
//= require_self
@import "colors";
@import "util";
@import "nav";
@import "pages/homepage.scss";

body {
  background-color: #666;
}

nav {
  width: 100%;
  //  display: inline-block;
}

.navBar {
  height: 100px;
  box-sizing: border-box;
  display: inline-block;

  .title {
    margin: 0;
    height: 100px;
    display: inline-block;
    border-right: solid darkgreen 1px;
    width: 400px;
    //    padding: 0 7% 0 7%;
    text-align: center;
  }
  .userOptions {
    //    height: 100%;
    width: 1000px;
    box-sizing: border-box;
    display: inline-block;
    //    vertical-align: center;
    padding: 0 10% 0 2%;
    //    width: 100px;
    //    margin-top:  0;
    a {
      padding: 0 5% 0 0;
    }
  }
  .loginLogout {
    //    height: 30px;
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    //    padding: 0 5% 0 5%;
    .loginLink {
      margin: 0 5% 0 5%;
    }
  }
  .joinButton {
    background-color: green;
    border: solid gray 1px;
    padding: 15px 40px 15px 40px;
    display: inline;
    color: white;
    font-size: 140%;
    -webkit-border-radius: 6px;

    //    margin: 10px -50px 0 0;
  }
  .loginLink {
    color: white;
    font-size: 140%;
    display: inline;
    //    margin-right: 30px;
  }
}

.userForm {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  width: 480px;
  padding-bottom: 5%;
  ul {
    padding-left: 0;
  }
  .userInfoTitle {
    display: block;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-top: 3%;
  }
  label {
    display: block;
    color: black;
  }
  li {
    display: inline-block;
    float: left;
    padding: 3%;
    padding-top: 0;
  }
  .half {
    width: 44%;
  }
  .full {
    width: 94%;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .userInfoBio {
    position: relative;
    display: inline-block;
    width: 94%;
    textarea {
      height: 150px;
      width: 98%;
    }
  }
  .submitButton {
    position: relative;
    display: inline-block;
    width: 94%;
    input {
      color: whitesmoke;
      background-color: green;
      height: 50px;
    }
  }
  .userInfoRadio {
    width: 100%;
    .radio {
      position: relative;
      display: inline-block;
      float: left;
      margin-left: 8%;
      width: 21%;
      input {
        width: 20px;
      }
      label {
        display: inline-block;
      }
    }
  }
}

.homePageHead {
  background-color: whitesmoke;
  text-align: center;
  padding: 1%;
  h1 {
    font-size: 80px;
  }
}

.flashSuccess {
  text-align: center;
  background-color: green;
  color: whitesmoke;
  padding: 3%;
  font-size: 20px;

}

.profilePanel {
  width: 400px;
  height: 670px;
  display: inline-block;
  float: left;
  .profilePicture {
    margin-top: 50px;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .profileName {
    color: lightgrey;
    text-align: center;
  }
  .rantForm {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: lightgray;
    label {
      text-align: left;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
    }
    li {
      margin-top: 20px;
    }
    input {
      width: 100%;
    }
    .full {
      input {
        width: 100%
      }
    }
    .userInfoBio {
      width: 100%;
      textarea {
        height: 250px;
        width: 98%;
      }
    }
    .submitButton {
      width: 100%;
      input {
        color: whitesmoke;
        background-color: green;
        height: 50px;
      }
    }
  }
}
.rantPanel {
  width: 1120px;
  display: inline-block;
  background-color: whitesmoke;
  margin-left: 2.2%;
  h1 {
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
    .ranter {
      display: inline-block;
      box-sizing: border-box;
      padding: 1% 2% 4% 2%;
      width: 200px;
      height: 190px;
      text-align: center;
//    background-color: yellowgreen;
      h3 {
        margin: -5px 0 5px 0;
      }
      img {
        width: 120px;
        height: 120px;
      }
      a {
        margin: 15px 0 5px 0;
      }
    }
    .rantBody {
      display: inline-block;
      height: 200;
      vertical-align: middle;
      margin-top: -150px;
      width: 80%;
//      background-color: mediumvioletred;
    }
  }
}


blockquote {
  height: 100px;
  img {
    float: left;
    height: 100%;
    width: 100px;
    margin-right: 20px;
  }
}