//= require normalize-rails
//= require_self
@import "colors";
@import "util";
@import "nav";
@import "pages/homepage.scss";
@import "panels/followingPanel.css.scss";
@import "panels/profilePanel.css.scss";
@import "panels/userPanel.css.scss";
@import "panels/dashboardPanel.css.scss";
@import "panels/rantPanel.css.scss";
@import "panels/searchPanel.css.scss";
@import "forms/registerForm.css.scss";


body {
  background-color: #666;
}

.underNav{
  width: 1555px
}

nav {
  width: 1555px;
}

.navBar{
  width: 100%;
  height: 100px;
  background-color: darkblue;

  article{
    float: left;
  }
  .middle{
    float: none;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .title {
    margin: 0;
    height: 100px;
    font-size: 35px;
    display: inline-block;
    box-sizing: border-box;
    border-right: solid darkgreen 1px;
    width: 23%;
    text-align: center;
  }
  .userOptions {
    z-index: 2;
    margin-left: 0;
    width: 49%;
    text-align: center;
    height: 100px;
    a{
      margin-right: 30px;
    }
    .options{
      margin-left: 3%;
      float: left;
    }
  }

  .loginLogout {

    float: left;
    height: 100px;
    width: 28%;
    .loginLink {
      margin: 0 5% 0 5%;
    }
    .login{
      float: right;
      margin-right: 20%;
      width: 280px;
      a{
        float: left;
      }
      .loginLink {
        vertical-align: middle;
        padding-top: 20px;
        margin-right: 15%;
      }
    }
  }
  .joinButton {
    background-color: green;
    border: solid gray 1px;
    padding: 7% 20% 7% 20%;
//    display: inline;
    color: white;
    font-size: 140%;
    -webkit-border-radius: 6px;
  }
  .loginLink {
    color: white;
    font-size: 140%;
//    display: inline;
  }

}


.homePageHead {
  background-color: whitesmoke;
  text-align: center;
  padding: 1%;
  h1 {
    font-size: 80px;
  }
}

.flashSuccess {
  text-align: center;
  background-color: green;
  color: whitesmoke;
  padding: 3%;
  font-size: 20px;
}

.flashFail {
  text-align: center;
  background-color: red;
  color: whitesmoke;
  padding: 3%;
  font-size: 20px;
}


blockquote {
  height: 100px;
  img {
    float: left;
    height: 100%;
    width: 100px;
    margin-right: 20px;
  }
}

.body {
  a { text-decoration: none; } /* no underline */
  a:link { color: black; } /* unvisited link */
  a:visited { color: black; } /* visited link */
  a:active {color: black;} /* selected link */
}

h1, h3 {
  text-align: center;
  a { text-decoration: none; } /* no underline */
  a:link { color: black; } /* unvisited link */
  a:visited { color: black; } /* visited link */
  a:active {color: black;} /* selected link */
}

.adminDashboard{
  box-sizing: border-box;
  padding: 0 3% 0 3%;
  .chart{
    display: inline-block;
    width: 33%;
    background-color: blue;
    .graph{
      border-left: 2px solid black;
      border-bottom: 2px solid black;
      height: 250px;
      width: 100%;
      position: relative;
      .leftBar{
        width: 30px;
        height: 150px;
        position:absolute; bottom:0;
        margin-left: 50px;
        background-color: green;
      }
      .rightBar{
        width: 30px;
        height: 150px;
        position:absolute; bottom:0;
        margin-left: 82px;
        background-color: red;
      }
    }
  }
}

.adminRantList{
  box-sizing: border-box;
  padding: 0 3% 0 3%;
  article{
    display: inline-block;
    box-sizing: border-box;
    background-color: yellowgreen;
    float: left;
    border: solid black 2px;
    padding-left: 7px;
    height: 25px;
//    text-align: center;
  }
  #loginsPerDay{
    margin-top: 100px;
  }
  .row{
    width: 100%;
  }
  .name{
    width: 20%;
  }
  .email{
    width: 30%;
  }
  .title{
    width: 30%;
  }
  .action{
    width: 20%;
  }
}

